.cat-wrapper {
    position: absolute;
    width: 50%;
    height: 25%;
    bottom: 50%;
    left:25%;
}

.cat {
    width:400px;
    height:200px;
    top: 0%;
    left: 0%;
    zoom: 3.2;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
}

.walking {
    animation: walk-animation 2s steps(12) infinite;
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/assets/cat_tiles.png") 0 0 no-repeat;
}

@keyframes walk-animation{
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2391px;
    }
}
@keyframes pause-between-iterations {
  /* Other animation is visible for 25% of the time */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  /* Other animation is hidden for 75% of the time */
  25.1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
