.cat-wrapper {
    animation: move-cat 4s linear, drop-cat 1s;
    animation-play-state: running, paused;
    animation-fill-mode: backwards, forwards;
    position: absolute;
    bottom: -9%;
}

.cat {
    width:400px;
    height:200px;
    bottom: 0%;
    zoom: 3.5;
}

.cat-button {
    position: absolute;
    left: 10%;
    height: 100%;
    width: 40%;
    pointer-events: none;
}

.overlay {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

.walking {
    animation: walk-animation 2s steps(12) infinite;
    background-image: 0 0 no-repeat;
}

.sitting {
    animation: sit-animation 2s steps(6);
    background-image: 0 0 no-repeat;
}

.walk-and-sit {
    animation: walk-animation 2s steps(12), sit-animation 1.5s steps(5);
    animation-delay: 0s, 4s;
    animation-iteration-count: 2, 1;
    animation-fill-mode: forwards, forwards;
    background-image: 0 0 no-repeat;
}

@keyframes walk-animation{
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -2391px;
    }
}

@keyframes move-cat {
    from {
        left: 105%;
    }
    to {
        left: 0%;
    }
}

@keyframes drop-cat {
    0% {transform: translate3d(0px, 0px, 0);
        animation-timing-function: ease-in-out;}
    10% {transform: translate3d(-50px, -50px, 0);
        animation-timing-function: ease-in;}
    70% {transform: translate3d(-300px, 1600px, 0);}
    100% {transform: translate3d(-300px, 1600px, 0);}
}

@keyframes sit-animation{
    from {
        background-position: -400px -0px;
    }

    to {
        background-position: -400px -996px;
    }
}
